/*
Theme Name:     FairWarning
Theme URI:      http://largoproject.org
Description:    A child theme for FairWarning based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo
Version:        0.1.0
*/

/* First we need to import the stylesheet from the Largo parent theme */
/* @import url("../largo/style.css");

/* Now you can add any of your custom styles below this line */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #ce1900;
  text-decoration: none;
}
a:hover {
  color: #ff2102;
  text-decoration: underline;
}
a.more-link {
  white-space: nowrap;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin: 0 0 24px;
}
h1 {
  font-size: 54px;
}
h1.entry-title {
  font-size: 44px;
  margin-bottom: 12px;
  line-height: 1;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 36px;
}
h4,
.entry-content h1,
.entry-content h2,
.entry-content h3 {
  font-size: 29.328px;
}
h5,
.stories h3,
.entry-content h4 {
  font-size: 24px;
}
h6,
.entry-content h5 {
  font-size: 19.552px;
}
h7,
.entry-content h6 {
  font-size: 16px;
}
h8,
.entry-content h7 {
  font-size: 13.04px;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: inherit;
  line-height: 1.3;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h7 small,
h8 small {
  font-size: 0.815em;
}
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: 19.56px;
}
p {
  font-size: 19px;
  line-height: 1.5;
  margin: 0 0 19.56px;
}
p small,
p.small {
  font-size: 13.04px;
  color: #999999;
}
p.xsmall {
  font-size: 10.672px;
  color: #999999;
}
p.intro {
  font-size: 22px;
  color: #555555;
  font-style: italic;
}
.widget p {
  font-size: 16px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 24px 25px;
  font-size: 17px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 8.399999999999999px;
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
li {
  margin-bottom: 12px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 5px;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
acronym {
  border-bottom: 1px dotted #999999;
}
address {
  margin: 0 0 24px;
  font-style: italic;
}
del {
  color: #999999;
}
blockquote {
  clear: both;
  padding: 5px 15px;
  margin: 0 0 24px;
  background-color: #eeeeee;
  border-left: 5px solid #999999;
}
blockquote p {
  font-size: 16px;
  margin: 12px 0;
  line-height: 1.5;
}
blockquote small {
  display: block;
  line-height: 24px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 24px;
  font-size: 14.8px;
  line-height: 24px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 24px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
form {
  margin: 0 0 24px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 48px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 18px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}
input,
button,
select,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 24px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
}
input,
textarea {
  width: 210px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
select {
  width: 220px;
  border: 1px solid #bbb;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 89.99999998999999%;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 81.489361693%;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 72.97872339599999%;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 64.468085099%;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 55.95744680199999%;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 47.446808505%;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 38.93617020799999%;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 30.425531911%;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 21.914893614%;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 13.404255317%;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 4.893617020000001%;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: -3.617021277%;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #ddd;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning .checkbox:focus,
.control-group.warning .radio:focus,
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success .checkbox:focus,
.control-group.success .radio:focus,
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
  padding: 23px 20px 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
}
.form-actions:after {
  clear: both;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}
:-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
.help-block,
.help-inline {
  color: #555555;
}
.help-block {
  display: block;
  margin-bottom: 12px;
}
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.input-prepend,
.input-append {
  margin-bottom: 5px;
}
.input-prepend input,
.input-append input,
.input-prepend select,
.input-append select,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: middle;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend input:focus,
.input-append input:focus,
.input-prepend select:focus,
.input-append select:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
  z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc;
}
.input-prepend .add-on,
.input-append .add-on {
  display: inline-block;
  width: auto;
  height: 24px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.input-prepend .add-on,
.input-append .add-on,
.input-prepend .btn,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend .active,
.input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-right-color: #ccc;
  border-left-color: #eee;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.control-group {
  margin-bottom: 12px;
}
legend + .control-group {
  margin-top: 24px;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 24px;
  *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}
.form-horizontal .controls:first-child {
  *padding-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 12px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 14px;
  line-height: 22px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
  line-height: 20px;
}
.btn-primary,
.btn-primary:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, #333333);
  background-image: -ms-linear-gradient(top, #333333, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));
  background-image: -webkit-linear-gradient(top, #333333, #333333);
  background-image: -o-linear-gradient(top, #333333, #333333);
  background-image: linear-gradient(top, #333333, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#333333', GradientType=0);
  border-color: #333333 #333333 #0d0d0d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #333333;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #333333;
  *background-color: #262626;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #1a1a1a \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
table {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  border-left: 0;
  margin-bottom: 24px;
}
table th,
table td {
  padding: 8px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table caption + tbody tr:first-child th,
table caption + tbody tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-noborder {
  border: none;
}
.table-noborder th,
.table-noborder td {
  border: none;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}
table .span1 {
  float: none;
  width: -9.617021277%;
  margin-left: 0;
}
table .span2 {
  float: none;
  width: -1.1063829799999993%;
  margin-left: 0;
}
table .span3 {
  float: none;
  width: 7.4042553170000005%;
  margin-left: 0;
}
table .span4 {
  float: none;
  width: 15.914893614%;
  margin-left: 0;
}
table .span5 {
  float: none;
  width: 24.425531911%;
  margin-left: 0;
}
table .span6 {
  float: none;
  width: 32.93617020799999%;
  margin-left: 0;
}
table .span7 {
  float: none;
  width: 41.446808505%;
  margin-left: 0;
}
table .span8 {
  float: none;
  width: 49.95744680199999%;
  margin-left: 0;
}
table .span9 {
  float: none;
  width: 58.46808509900001%;
  margin-left: 0;
}
table .span10 {
  float: none;
  width: 66.97872339599999%;
  margin-left: 0;
}
table .span11 {
  float: none;
  width: 75.489361693%;
  margin-left: 0;
}
table .span12 {
  float: none;
  width: 83.99999998999999%;
  margin-left: 0;
}
table .span13 {
  float: none;
  width: 92.510638287%;
  margin-left: 0;
}
table .span14 {
  float: none;
  width: 101.02127658399999%;
  margin-left: 0;
}
table .span15 {
  float: none;
  width: 109.531914881%;
  margin-left: 0;
}
table .span16 {
  float: none;
  width: 118.04255317799999%;
  margin-left: 0;
}
table .span17 {
  float: none;
  width: 126.553191475%;
  margin-left: 0;
}
table .span18 {
  float: none;
  width: 135.063829772%;
  margin-left: 0;
}
table .span19 {
  float: none;
  width: 143.57446806899998%;
  margin-left: 0;
}
table .span20 {
  float: none;
  width: 152.085106366%;
  margin-left: 0;
}
table .span21 {
  float: none;
  width: 160.595744663%;
  margin-left: 0;
}
table .span22 {
  float: none;
  width: 169.10638296000002%;
  margin-left: 0;
}
table .span23 {
  float: none;
  width: 177.617021257%;
  margin-left: 0;
}
table .span24 {
  float: none;
  width: 186.127659554%;
  margin-left: 0;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../largo/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("../largo/img/glyphicons-halflings-white.png");
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.social-icons {
  display: block;
  background: url("../largo/img/social-icons.png") no-repeat;
  width: 24px;
  height: 24px;
}
.social-icons.facebook {
  background-position: 0px 0px;
}
.social-icons.gplus {
  background-position: 0px -24px;
}
.social-icons.rss24 {
  background-position: 0px -48px;
}
.social-icons.youtube {
  background-position: 0px -72px;
}
.social-icons.rss {
  background-position: 0px -96px;
}
.social-icons.flickr {
  background-position: 0px -120px;
}
.social-icons.twitter {
  background-position: 0px -144px;
}
.social-icons.gplus-19 {
  background-position: 0px -168px;
  width: 19px;
  height: 19px;
}
.global-nav,
#page,
#site-footer,
#footer-logos {
  max-width: 1170px;
  padding: 0 5%;
}
#page {
  padding-bottom: 18px;
}
#main {
  margin: 18px 0;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 1.627659574%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.49999998999999%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 90.989361693%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.47872339599999%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 73.968085099%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.45744680199999%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 56.946808505%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.43617020799999%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 39.925531911%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.414893614%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 22.904255317%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.39361702%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 5.882978723%;
}
.global-nav-bg {
  background-color: #555555;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 3px 1px #999999;
  -moz-box-shadow: 0 1px 3px 1px #999999;
  box-shadow: 0 1px 3px 1px #999999;
  height: 32px;
}
.global-nav {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  height: 32px;
  overflow: visible;
  z-index: 1030;
}
.global-nav ul {
  margin: 0;
  list-style: none;
  font-size: 12px;
}
.global-nav ul li {
  float: left;
  margin: 5px 18px 0 0;
}
.global-nav ul a {
  color: #ffffff;
}
.global-nav ul a:hover {
  text-decoration: none;
  color: #d9d9d9;
}
.global-nav .nav-right {
  float: right;
}
.global-nav .nav-right .donate-btn {
  float: left;
  margin: 4px 10px 0;
}
.global-nav .nav-right .org-logo {
  float: left;
  height: 55px;
  -webkit-box-shadow: 0 3px 4px -2px #000000;
  -moz-box-shadow: 0 3px 4px -2px #000000;
  box-shadow: 0 3px 4px -2px #000000;
}
.donate-btn {
  font-size: 14px;
  background-color: #bd261d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.donate-btn:hover {
  background-color: #d32a20;
}
.donate-btn a {
  padding: 4px 6px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
.donate-btn a:hover {
  text-decoration: none;
}
.donate-btn i {
  margin: 1px 3px 0 0;
}
#header-search {
  float: left;
  margin: 2px 10px 0 0;
}
#header-search form {
  margin: 0;
}
#header-search input,
#header-search button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1;
}
#header-search input {
  height: 14px;
  padding: 6px 4px 2px 4px;
}
#header-search button {
  height: 24px;
  text-transform: uppercase;
}
#site-header {
  margin: 0;
  width: auto;
}
#site-header img {
  clear: none;
  margin: -18px 0 5px;
}
.ie7 #site-header img,
.ie8 #site-header img,
.ie9 #site-header img {
  margin-top: 9px;
}
#site-header h1.branding,
#site-header h2.branding {
  clear: both;
  margin: 0 0 20px;
  font-size: 54px;
  line-height: 1;
}
#site-header h1.branding a,
#site-header h2.branding a {
  color: #333333;
}
#site-header h1.branding a:hover,
#site-header h2.branding a:hover {
  text-decoration: none;
}
#site-header h1.branding span,
#site-header h2.branding span {
  font-size: 24px;
  font-weight: normal;
  color: #555555;
  padding-left: 10px;
}
.ie7 #site-header h1.branding,
.ie8 #site-header h1.branding,
.ie9 #site-header h1.branding {
  margin-top: 17px;
}
.print-header {
  display: none;
}
.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: 4.8px;
}
.navbar-inner {
  min-height: 36px;
  background-color: #292929;
  background-image: -moz-linear-gradient(top, #333333, #1a1a1a);
  background-image: -ms-linear-gradient(top, #333333, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #333333, #1a1a1a);
  background-image: -o-linear-gradient(top, #333333, #1a1a1a);
  background-image: linear-gradient(top, #333333, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#1a1a1a', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
}
.navbar .container {
  width: auto;
}
.nav-collapse.collapse {
  height: auto;
}
.navbar {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 28px;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0;
}
.navbar .nav.pull-right {
  float: right;
}
.navbar ul {
  font-size: 15px;
}
.navbar li {
  display: block;
  float: left;
  margin-bottom: 0;
  padding-top: 6px;
}
li.home-link {
  margin-left: 4px;
}
li.home-link i {
  margin-top: 4px;
}
li.home-link:hover i {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.navbar li > a {
  float: none;
  padding: 8px 9px 9px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
.navbar li.dropdown > a {
  padding-right: 0;
}
.navbar li.dropdown .dropdown-menu li a {
  padding-right: 10px;
}
.dropdown-menu i.icon-arrow-right {
  padding-right: 4px;
}
.navbar .open > a,
.navbar li > a:hover {
  background-color: #242424;
  background-image: -moz-linear-gradient(top, #1a1a1a, #333333);
  background-image: -ms-linear-gradient(top, #1a1a1a, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a1a1a), to(#333333));
  background-image: -webkit-linear-gradient(top, #1a1a1a, #333333);
  background-image: -o-linear-gradient(top, #1a1a1a, #333333);
  background-image: linear-gradient(top, #1a1a1a, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#333333', GradientType=0);
  color: #eeeeee;
}
.navbar li.home-link > a:hover {
  background: none;
}
.navbar .active > a,
.navbar .active > a:hover {
  color: #eeeeee;
  text-decoration: none;
  background-color: #1a1a1a;
}
.navbar .divider-vertical {
  height: 28px;
  width: 1px;
  margin: 0 0 0 2px;
  overflow: hidden;
  background-color: #1a1a1a;
  border-left: 1px solid #333333;
}
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin: 4px 5px 0;
  background-color: #292929;
  background-image: -moz-linear-gradient(top, #333333, #1a1a1a);
  background-image: -ms-linear-gradient(top, #333333, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #333333, #1a1a1a);
  background-image: -o-linear-gradient(top, #333333, #1a1a1a);
  background-image: linear-gradient(top, #333333, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#1a1a1a', GradientType=0);
  border-color: #1a1a1a #1a1a1a #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1a1a1a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #1a1a1a;
  *background-color: #0d0d0d;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #000000 \9;
}
.navbar .btn-navbar .label {
  float: right;
  color: white;
  line-height: 1;
  margin: -1px 0 0 5px;
  padding: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.navbar .btn-navbar .bars {
  float: left;
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 6px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.dropdown .caret {
  margin: 10px 8px 0 1px;
}
.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 3px 0;
  margin: 5px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 11px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu li {
  padding-top: 0;
  width: 100%;
}
.dropdown-menu li > a {
  display: block;
  width: auto;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
  white-space: nowrap;
  text-shadow: none;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
.navbar .dropdown-menu .active > a,
.navbar .dropdown-menu .active > a:hover {
  color: #ce1900;
  font-weight: bold;
  background-color: #ffffff;
}
.dropdown-menu li a:hover {
  background: none;
}
.dropdown-menu li a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #333333;
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -10px;
  left: 9px;
}
.navbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  position: absolute;
  top: -9px;
  left: 10px;
}
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .nav li.dropdown.active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}
.navbar .nav li.dropdown.active > .dropdown-toggle:hover {
  color: #ffffff;
}
.dropdown-menu li {
  margin-bottom: 0;
}
/* add support for second level dropdown menus */
.dropdown-menu .sub-menu,
.dropdown-menu .sub-sub-menu {
  position: absolute;
  top: -20%;
  left: 99%;
  visibility: hidden;
  margin-top: 0;
}
.dropdown-menu .icon-arrow-right {
  position: relative;
  top: 2px;
  left: 3px;
}
.dropdown-menu li:hover .sub-menu,
.dropdown-menu .sub-menu li:hover .sub-sub-menu {
  visibility: visible;
  display: block;
}
.navbar .sub-menu:before,
.navbar .sub-sub-menu:before {
  border-bottom: 9px solid transparent;
  border-left: none;
  border-right: 9px solid rgba(0, 0, 0, 0.2);
  border-top: 9px solid transparent;
  left: -9px;
  top: 30%;
}
.navbar .sub-menu:after,
.navbar .sub-sub-menu:after {
  border-top: 8px solid transparent;
  border-left: none;
  border-right: 8px solid #fff;
  border-bottom: 8px solid transparent;
  left: 10px;
  top: 31%;
  left: -8px;
}
@media (max-width: 979px) {
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 12px;
  }
  .nav-collapse .nav > li,
  .nav-collapse .nav > span > li {
    float: none;
    display: list-item;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #ffffff;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .nav > span > li > a,
  .nav-collapse .dropdown-menu a {
    color: #ffffff;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > span > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background: none !important;
    color: #eeeeee;
  }
  .nav-collapse .nav > li:hover > a,
  .nav-collapse .nav > span > li:hover > a {
    background: none;
  }
  .nav-collapse .divider {
    height: 1px;
    width: 94%;
    margin: 10px 10px 5px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #1a1a1a;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #1a1a1a;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  .navbar .btn-navbar {
    display: block;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
#secondary-nav #topics-bar {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}
#secondary-nav ul {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#secondary-nav ul li {
  display: inline;
  margin-right: 10px;
  white-space: nowrap;
}
#secondary-nav ul li h4 {
  font-size: 17px;
  margin-bottom: 0;
  display: inline;
}
.post-header,
.page-header,
.entry-content,
.post-footer,
article.story {
  margin-bottom: 24px;
}
.post-header,
.page-header,
article.story {
  border-bottom: 1px solid #eeeeee;
}
article.story {
  padding-bottom: 12px;
}
.byline {
  font-weight: normal;
  font-size: 13.04px;
  margin-bottom: 12px;
}
.byline a {
  color: #333333;
}
.byline .author,
.byline .time-ago,
.byline .edit-link a {
  text-transform: uppercase;
}
.byline .author {
  font-weight: bold;
}
.byline .time-ago,
.byline .edit-link a {
  color: #bd261d;
}
.post-social {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  min-height: 28px;
  height: auto;
  padding: 2px 0;
  margin-bottom: 24px;
}
.post-social .right,
.post-social .left {
  margin: 0;
  height: auto;
}
.post-social span {
  position: relative;
}
.post-social span.twitter {
  top: 4px;
  margin-right: 4px;
}
.post-social span.st_sharethis,
.post-social span.st_email {
  top: 1px;
}
.post-social span.print {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
  top: 2px;
}
.post-social span.print:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.post-social span.print a {
  color: black;
}
.post-social span.print a:hover {
  text-decoration: none;
}
.post-pagination a,
.post-pagination span {
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13.04px;
}
.post-pagination a:first-child,
.post-pagination span:first-child {
  padding-left: 0;
}
.labels,
.tags,
.pager,
#related-posts {
  clear: both;
  margin: 0 0 12px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tags,
.pager {
  list-style: none;
  font-size: 16px;
  line-height: 1.6;
}
.labels h4 {
  font-size: 16px;
  line-height: 1;
  background-color: #dedede;
  margin-bottom: 0;
  padding: 8px;
}
.single-post .author-box,
.single-argolinkroundups .author-box,
.labels {
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  border-top: 3px solid #999999;
}
.single-post .author-box h4,
.single-argolinkroundups .author-box h4,
.labels h4 {
  font-size: 16px;
  line-height: 1;
  background-color: #dedede;
  margin-bottom: 0;
  padding: 8px;
}
h3.recent-posts a.rss-link,
.labels .series-label h5 a.rss-link {
  float: right;
  margin-top: 4px;
}
h3.recent-posts a.rss-link:hover,
.labels .series-label h5 a.rss-link:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
}
.labels .series-label {
  margin: 5px;
  padding: 8px;
  background-color: #efefef;
}
.labels .series-label h5 {
  font-size: 19.552px;
  margin-bottom: 2px;
}
.labels .series-label p {
  font-size: 13.04px;
  margin-bottom: 0;
}
.tags {
  height: 100%;
  overflow: auto;
}
.tags h5 {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: bold;
}
.tags ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.tags ul li {
  display: inline;
  margin-right: 10px;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
  float: left;
  background-color: #333333;
  padding: 5px 12px 5px 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.tags ul li:hover {
  background-color: #1a1a1a;
}
.tags ul li i {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.tags ul li a {
  color: #ffffff;
}
.tags ul li a:hover {
  text-decoration: none;
}
.tags p {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-size: 16px;
  color: #555555;
}
.pager {
  list-style: none;
  text-align: center;
  margin-bottom: 24px;
}
.pager h5 {
  margin-bottom: 6px;
  font-size: 16px;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
.pager .next {
  float: right;
  text-align: right;
  margin-bottom: 12px;
}
.pager .previous {
  float: left;
  text-align: left;
  margin-bottom: 12px;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  background-color: #ffffff;
  cursor: default;
}
#related-posts {
  border: 1px solid #eeeeee;
  border-top: 3px solid #999999;
}
#related-post-nav {
  padding: 8px 0;
}
#related-post-nav li {
  list-style-type: none;
  margin-bottom: 0;
  font-size: 14px;
}
#related-post-nav li:last-child a {
  border-bottom: 1px solid #999999;
}
#related-post-nav h4 {
  font-size: 16px;
  margin: 0 0 5px 5px;
}
#related-post-nav a {
  display: block;
  padding: 4px 5px;
  font-weight: normal;
  text-decoration: none;
  border-top: 1px solid #999999;
  outline: none;
}
#related-post-nav a:hover {
  background-color: #eeeeee;
}
#related-post-nav a.selected {
  color: #ffffff;
  background: #333333;
  border: none;
  font-weight: bold;
}
#related-posts .related-items div {
  display: none;
  padding: 0 2.5%;
}
#related-posts .related-items div img {
  float: left;
  margin: 0 10px 10px 0;
}
#related-posts .related-items ul {
  margin: 5px 0;
}
#related-posts .related-items ul li {
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 13.04px;
  line-height: 1.5;
}
#related-posts .related-items ul li.top-related {
  list-style: none;
  margin-left: 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 5px;
  font-size: 8px;
}
#related-posts .related-items ul li.top-related h3 {
  font-size: 19.552px;
  font-weight: bold;
  margin-bottom: 0;
}
#related-posts .related-items ul li.top-related p {
  font-size: 13.04px;
  margin-bottom: 6px;
}
#related-posts .related-items p {
  font-size: 13.04px;
}
.author-box {
  clear: both;
  margin-bottom: 24px;
}
.author-box h1,
.author-box h3 {
  font-size: 32px;
  margin-bottom: 4.8px;
}
.author-box img.avatar {
  float: left;
  margin: 0 20px 0 0;
  padding: 4px;
  border: 1px solid #ccc;
}
.author-box p {
  font-size: 13.04px;
  margin-bottom: 8px;
}
.author-box ul {
  list-style: none;
  margin: 0;
}
.author-box ul li {
  display: inline;
  float: left;
  margin-right: 12px;
}
.author-box ul li.email {
  background-color: #333333;
  padding: 1px 8px 3px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 15px;
}
.author-box ul li.email a {
  color: #ffffff;
}
.author-box ul li.email a:hover {
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.author-box ul li.email i {
  position: relative;
  top: 2px;
}
.author-box ul li.facebook {
  position: relative;
  top: -2px;
}
.author-box iframe {
  margin: 0;
}
.single-post .author-box h4 span.author-posts-link,
.single-argolinkroundups .author-box h4 span.author-posts-link {
  float: right;
  text-align: right;
  font-size: 10.672px;
  padding-top: 4px;
}
.single-post .author-box img,
.single-argolinkroundups .author-box img {
  margin: 10px 20px 10px 10px;
}
.single-post .author-box p,
.single-argolinkroundups .author-box p,
.single-post .author-box ul,
.single-argolinkroundups .author-box ul {
  margin: 10px;
}
.single-post .author-box .gplus img,
.single-argolinkroundups .author-box .gplus img {
  margin: 0;
}
.module {
  margin-bottom: 12px;
  color: #000000;
}
.module h3 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: bold;
}
.module dl {
  margin: 0;
}
.module dt,
.module dd {
  font-size: 13.04px;
  margin: 0 0 12px 0;
}
.aside p {
  font-size: 0.815em;
}
.image p {
  display: inline;
  font-size: 10px;
}
.image img {
  display: block;
}
p.wp-media-credit {
  font-size: 10.672px !important;
  margin: 0;
  text-align: right;
  color: #555555;
  display: block;
}
p.wp-caption-text {
  font-size: 13.04px !important;
  margin: 5px 0 0 0;
  color: #555555;
  font-style: italic;
  line-height: 1.5;
  display: block;
}
.navis-slideshow .pagination li {
  list-style-type: none !important;
}
.half,
.full {
  margin: 0 0 24px;
}
.half {
  width: 50%;
}
.full {
  width: 100%;
}
.pull-quote {
  border-left: 4px solid #333;
  padding-left: 20px;
  font: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 24px;
  line-height: 1.3;
}
.pull-quote h6 {
  font-size: 16px;
  margin: 0;
}
.pull-quote p {
  font-size: 24px;
  margin-bottom: 6px;
}
.stories article {
  border-bottom: 1px dotted #999999;
  margin-bottom: 12px;
}
.stories article[class*="span"] {
  margin-left: 0;
}
.stories h2.entry-title {
  font-size: 32px;
  margin-bottom: 8px;
  line-height: 1.1;
}
.stories .entry-content p {
  font-size: 16px;
  margin-bottom: 12px;
}
.stories .bottom-meta h5 {
  font-size: 13.04px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
.stories article.sticky {
  border-bottom: none;
  margin-bottom: 24px;
}
.sticky-related,
.sticky-solo {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #262626;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 3px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.05);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #262626, #4d4d4d);
  background-image: -ms-linear-gradient(top, #262626, #4d4d4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#262626), to(#4d4d4d));
  background-image: -webkit-linear-gradient(top, #262626, #4d4d4d);
  background-image: -o-linear-gradient(top, #262626, #4d4d4d);
  background-image: linear-gradient(top, #262626, #4d4d4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#4d4d4d', GradientType=0);
}
.sticky-related a,
.sticky-solo a {
  color: #0d0d0d;
}
.sticky-related a:hover,
.sticky-solo a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-decoration: none;
}
.sticky-main-feature .image-wrap {
  float: left;
  margin: 15px 15px 0 15px;
  min-height: 150px;
}
.sticky-main-feature .image-wrap h4 {
  background-color: #000000;
  color: #ffffff;
  padding: 2px 5px;
  width: 130px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: block;
  position: relative;
  z-index: 10;
}
.sticky-main-feature .image-wrap img {
  float: left;
  display: block;
  position: relative;
  top: -20px;
  z-index: 1;
  max-width: 100%;
  margin: 0;
}
.sticky-main-feature h4 {
  font-size: 13.04px;
  color: #ddd;
  margin-bottom: 0;
}
.sticky-main-feature h4.no-image {
  margin: 2px 0 0 15px;
  position: relative;
  top: 8px;
}
.sticky-main-feature h2 {
  font-size: 24px;
  margin: 10px 15px 4px;
  line-height: 1;
}
.sticky-main-feature h2 a {
  color: #ffffff;
}
.sticky-main-feature p {
  color: #fff;
  font-size: 12px;
  margin: 0 15px 10px;
}
.sticky-main-feature p a {
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap;
}
.sticky-features-list {
  padding: 10px;
}
.sticky-features-list ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #828282;
  background-image: -moz-linear-gradient(top, #8c8c8c, #737373);
  background-image: -ms-linear-gradient(top, #8c8c8c, #737373);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8c8c8c), to(#737373));
  background-image: -webkit-linear-gradient(top, #8c8c8c, #737373);
  background-image: -o-linear-gradient(top, #8c8c8c, #737373);
  background-image: linear-gradient(top, #8c8c8c, #737373);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#737373', GradientType=0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.sticky-features-list ul li {
  font-size: 14px;
  margin-bottom: 7px;
  line-height: 1.2;
}
.sticky-features-list ul li h4 {
  color: #333;
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.sticky-features-list ul li h4 span {
  font-size: 12px;
}
.sticky-features-list ul li.sticky-all {
  font-weight: bold;
  font-size: 10.672px;
}
.home .stories article img.attachment-medium,
.sub-stories img.attachment-post-thumbnail {
  max-width: 30%;
  float: right;
  margin: 0 0 10px 20px;
}
.category-background {
  margin-bottom: 19.56px;
}
.category-background h1 {
  font-size: 44px;
  margin-bottom: 3px;
}
.category-background p {
  font-size: 13.04px;
  margin-bottom: 8px;
}
.category-background .related-topics {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-background .related-topics h5 {
  display: inline;
  float: left;
  font-size: 13.04px;
  margin: 0 5px 0 0;
  line-height: 1.3;
}
.category-background .related-topics ul {
  font-size: 13.04px;
  float: left;
  list-style: none;
  margin: 1px 0 0 0;
  line-height: 1.3;
}
.category-background .related-topics ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.category-background .related-topics ul li:after {
  content: ", ";
}
.category-background .related-topics ul li:last-child:after {
  content: "";
}
h3.recent-posts {
  padding: 2px 0;
  margin-bottom: 19.56px;
  border-bottom: 1px solid #999999;
  border-top: 3px solid #999999;
}
article img.attachment-post-thumbnail {
  float: right;
  max-width: 30%;
  margin: 0 0 10px 20px;
}
span.search-term {
  background-color: #a6a6a6;
  padding: 1px 5px;
}
.archive-dropdown {
  margin-bottom: 12px;
}
#disqus_thread {
  background-color: #eeeeee;
  padding: 20px 10px;
  border-top: 8px solid #999999;
  margin-bottom: 24px;
}
/* = Customized comment form styles via the twenty eleven theme
http://wordpress.org/extend/themes/twentyeleven
----------------------------------------------- */
#comments {
  clear: both;
}
#content #comments-title {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: bold;
}
.nopassword,
.nocomments {
  color: #999999;
  font-size: 24px;
  font-weight: 100;
  margin: 24px 0;
  text-align: center;
}
.commentlist {
  list-style: none;
  margin: 0 auto;
  width: 100%;
}
.commentlist > li.comment {
  background: #f6f6f6;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 12px;
  padding: 14px;
  position: relative;
}
.commentlist .pingback {
  margin: 0 0 1.625em;
  padding: 0 1.625em;
}
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li.comment {
  background: #fff;
  border-left: 1px solid #ddd;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin: 1.625em 0 0;
  padding: 1.625em;
  position: relative;
}
.commentlist .children li.comment .fn {
  display: block;
}
.comment-meta .fn {
  font-style: normal;
}
.comment-meta {
  color: #666;
  font-size: 13.04px;
  line-height: 1.5;
}
.commentlist .comment-content {
  clear: both;
}
.commentlist .comment-content p {
  font-size: 16px;
  margin-bottom: 6px;
}
.commentlist .children li.comment .comment-meta {
  line-height: 1.625em;
  margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
  margin: 1.625em 0 0;
}
.comment-meta a {
  font-weight: bold;
}
.commentlist .avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #cccccc;
  -moz-box-shadow: 0 1px 2px #cccccc;
  box-shadow: 0 1px 2px #cccccc;
  padding: 0;
  float: left;
  margin: 0 10px 10px 0;
  width: 50px;
  height: 50px;
}
.commentlist .children .avatar {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: 2.2em;
  padding: 0;
  top: 2.2em;
}
a.comment-reply-link {
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
  background: #888;
  color: #fff;
}
a.comment-reply-link > span {
  display: inline-block;
  position: relative;
  top: -1px;
}
/* Post author highlighting */
.commentlist > li.bypostauthor {
  background: #ddd;
  border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
  color: #575757;
}
.commentlist > li.bypostauthor:before {
  content: url(images/comment-arrow-bypostauthor.png);
}
/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
  background: #ddd;
  border-color: #d3d3d3;
}
/* Comment Form */
#respond {
  background: #f6f6f6;
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto 24px;
  padding: 4% 4% 8%;
  width: 92%;
}
#respond input[type="text"],
#respond textarea {
  background: #fff;
  border: 4px solid #eee;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
  -moz-box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
  box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
  position: relative;
  padding: 10px;
  text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
  margin-top: -20px;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  background: #eee;
  -webkit-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
  -moz-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
  box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
  color: #555;
  display: inline-block;
  font-size: 0.815em;
  left: 4px;
  min-width: 60px;
  padding: 4px 10px;
  position: relative;
  top: 40px;
  z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
  text-indent: 0;
  z-index: 1;
}
#respond textarea {
  resize: vertical;
  width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
  color: #bd3500;
  font-size: 22px;
  font-weight: bold;
  left: 75%;
  position: absolute;
  top: 45px;
  z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
  font-size: 0.815em;
}
#respond p {
  margin: 10px 0;
}
#respond .form-submit {
  float: right;
  margin: -20px 0 10px;
}
#respond input#submit {
  background: #222;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  margin: 14px 0 20px;
  padding: 5px 22px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
#respond input#submit:hover {
  background: #555;
}
#respond input#submit:active {
  background: #1982d1;
  color: #bfddf3;
}
#respond #cancel-comment-reply-link {
  color: #666;
  margin-left: 0.667em;
  text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
  text-decoration: underline;
}
.commentlist #respond {
  margin: 1.625em 0 0;
  width: auto;
}
#reply-title {
  color: #373737;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 30px;
}
#cancel-comment-reply-link {
  color: #888;
  display: block;
  font-size: 0.667em;
  font-weight: normal;
  line-height: 2.2em;
  letter-spacing: 0.05em;
  position: absolute;
  right: 1.625em;
  text-decoration: none;
  text-transform: uppercase;
  top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
  color: #ff4b33;
}
#respond label {
  line-height: 2.2em;
}
#respond input[type=text] {
  display: block;
  height: 24px;
  width: 75%;
}
#respond p {
  font-size: 0.815em;
}
p.comment-form-comment {
  margin: 0;
}
.form-allowed-tags {
  display: none;
}
#sidebar .widget {
  margin-bottom: 24px;
  padding: 12px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #efefef, #fafafa);
  background-image: -ms-linear-gradient(top, #efefef, #fafafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #efefef, #fafafa);
  background-image: -o-linear-gradient(top, #efefef, #fafafa);
  background-image: linear-gradient(top, #efefef, #fafafa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#fafafa', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 3px rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.05);
}
.widget-title {
  font-size: 24px;
  margin-bottom: 6px;
}
#sidebar .widget-title,
#sidebar .widgettitle {
  margin-bottom: 8px;
  padding: 5px 8px;
  border: 1px solid #ddd;
  font-size: 13.04px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background-color: #858585;
  background-image: -moz-linear-gradient(top, #999999, #666666);
  background-image: -ms-linear-gradient(top, #999999, #666666);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#666666));
  background-image: -webkit-linear-gradient(top, #999999, #666666);
  background-image: -o-linear-gradient(top, #999999, #666666);
  background-image: linear-gradient(top, #999999, #666666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#sidebar .widget-title a,
#sidebar .widgettitle a {
  color: #fff;
}
#sidebar .widget p,
#sidebar .widget ul {
  padding: 0 3px;
  font-size: 13.04px;
}
#sidebar .widget ul {
  margin: 4.8px 0 0 16px;
  line-height: 1.2;
}
#sidebar .widget ul ul {
  margin-bottom: 4.8px;
}
#sidebar .widget p.morelink {
  margin: -6px 0 0;
}
#sidebar .widget.rev {
  color: #ffffff;
  background-color: #292929;
  background-image: -moz-linear-gradient(top, #333333, #1a1a1a);
  background-image: -ms-linear-gradient(top, #333333, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #333333, #1a1a1a);
  background-image: -o-linear-gradient(top, #333333, #1a1a1a);
  background-image: linear-gradient(top, #333333, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#1a1a1a', GradientType=0);
}
#sidebar .widget.rev .widget-title {
  color: #333;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #e6e6e6, #f9f9f9);
  background-image: -ms-linear-gradient(top, #e6e6e6, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #f9f9f9);
  background-image: -o-linear-gradient(top, #e6e6e6, #f9f9f9);
  background-image: linear-gradient(top, #e6e6e6, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#f9f9f9', GradientType=0);
}
#sidebar .widget.rev a {
  color: #ffffff;
  font-weight: bold;
}
#sidebar .widget.no-bg {
  background: none;
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#sidebar .widget.no-bg p,
#sidebar .widget.no-bg ul {
  background: none;
  border: none;
}
#sidebar .widget.no-bg .widget-title {
  color: #ffffff;
}
.subscribe {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.subscribe a {
  color: #555555;
}
.subscribe i {
  float: left;
  margin-right: 8px;
}
.twitter-follow-button {
  display: block;
  margin: 8px 0 10px;
}
.fb-like,
.fb-like span,
.fb-like.fb_iframe_widget span iframe {
  width: 100% !important;
}
.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
  width: 100% !important;
}
.fb-like-box {
  background: white !important;
  background-color: white !important;
}
.largo-about p {
  margin-bottom: 0;
}
.largo-donate p {
  margin-bottom: 8px;
}
#sidebar .largo-sidebar-featured img,
#sidebar .largo-recent-posts img,
#sidebar .largo-INN-RSS img {
  float: left;
  margin: 5px 10px 0 5px;
}
#sidebar .largo-sidebar-featured h5,
#sidebar .largo-recent-posts h5,
#sidebar .largo-INN-RSS h5 {
  margin-bottom: 2px;
  padding: 0 3px;
  font-size: 16px;
}
#sidebar .largo-sidebar-featured p,
#sidebar .largo-recent-posts p,
#sidebar .largo-INN-RSS p {
  font-size: 10.672px;
  margin-bottom: 12px;
}
#sidebar .largo-INN-RSS ul {
  margin: 12px 0;
  padding: 0;
}
#sidebar .largo-INN-RSS li {
  list-style: none;
  margin-bottom: 12px;
}
#sidebar .largo-INN-RSS li h5,
#sidebar .largo-INN-RSS li h6,
#sidebar .largo-INN-RSS li p {
  margin-bottom: 4.8px;
}
#sidebar .widget.largo-INN-RSS.rev .widget-title a {
  color: #333;
}
#sidebar .widget.largo-recent-comments ul {
  margin-left: 0;
  list-style: none;
}
#sidebar .widget.largo-recent-comments p {
  margin-bottom: 3px;
}
#sidebar .widget.largo-recent-comments p.comment-excerpt:before {
  content: open-quote;
}
#sidebar .widget.largo-recent-comments p.comment-excerpt:after {
  content: close-quote;
}
#sidebar .widget.largo-recent-comments p.comment-meta {
  font-style: italic;
  color: inherit;
}
#sidebar .widget_archive select,
#sidebar .widget_categories select,
#sidebar .largo-taxonomy-list select,
#sidebar .widget_search form {
  margin: 4.8px 0;
}
#sidebar iframe {
  max-width: 100%;
}
.footer-bg {
  background-color: #555555;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 -3px 10px 0 #999999;
  -moz-box-shadow: 0 -3px 10px 0 #999999;
  box-shadow: 0 -3px 10px 0 #999999;
  padding: 0 0 18px;
  margin-bottom: 0;
}
#footer-logos-bg {
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 #000000;
  -moz-box-shadow: 0 5px 10px 0 #000000;
  box-shadow: 0 5px 10px 0 #000000;
  padding: 10px 0;
}
#footer-logos {
  overflow: hidden;
}
#footer-logos a {
  display: block;
  float: left;
  width: 16.666666667%;
}
#footer-logos a img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}
#footer-logos h6 {
  margin-bottom: 4px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #555555;
  text-transform: uppercase;
  font-weight: normal;
}
#footer-logos h6 a {
  float: right;
  text-align: right;
}
#site-footer {
  color: #ffffff;
}
#site-footer a:hover {
  color: #ff4e35;
}
#site-footer p,
#site-footer li {
  font-size: 13.04px;
}
#site-footer ul {
  margin: 0;
}
#site-footer ul li {
  line-height: 1.2;
  margin-bottom: 12px;
  list-style: none;
}
#site-footer .widget-title,
#site-footer .widgettitle,
#site-footer #menu-footer-navigation h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-bottom: 3px;
  border-bottom: 1px solid #666;
}
#site-footer ul#menu-footer-navigation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  margin: 0 0 12px;
}
#site-footer ul#menu-footer-navigation li {
  margin-bottom: 0;
  padding: 5px 0;
  border-bottom: 1px solid #454545;
  font-size: 16px;
}
#site-footer ul#menu-footer-navigation li:first-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
#site-footer ul#menu-footer-navigation li h4 {
  margin-bottom: 0;
}
#site-footer .largo-footer-featured {
  margin-bottom: 12px;
}
#site-footer .largo-footer-featured .post-lead {
  min-height: 60px;
  margin-bottom: 8px;
}
#site-footer .largo-footer-featured img {
  float: left;
  margin: 0 10px 10px 0;
  padding-top: 4px;
}
#site-footer .largo-footer-featured h5 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 4px;
}
#site-footer .largo-footer-featured p {
  font-size: 10.672px;
  margin-bottom: 0;
}
#site-footer .largo-about p {
  margin-bottom: 24px;
}
#site-footer input,
#site-footer select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#site-footer select {
  width: 90%;
  margin: 0 0 24px;
}
#site-footer input.search-query {
  width: 67%;
  margin-right: 1%;
  height: 19px;
}
#site-footer input.search-submit {
  max-width: 25%;
  padding: 1px 8px 1px;
}
ul#ft-social li {
  float: left;
  display: inline;
  margin-right: 8px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
ul#ft-social li:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#supplementary {
  padding: 24px 0 12px;
  border-bottom: 1px solid #666;
}
#boilerplate {
  border-top: 1px solid #999;
  padding-top: 12px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boilerplate p {
  color: #999999;
  margin-bottom: 0;
  float: left;
}
#boilerplate p.back-to-top {
  float: right;
}
#boilerplate .menu {
  clear: both;
  margin: 0;
  font-size: 10.672px;
}
#boilerplate .menu li {
  display: inline;
  padding-right: 10px;
}
.sticky,
.bypostauthor,
.gallery-caption {
  display: normal;
}
.alignnone {
  margin: 18px;
}
.aligncenter,
div.aligncenter,
.center {
  clear: both;
  display: block;
  margin: 18px auto;
}
.alignright,
.right {
  float: right;
  margin: 6px 0 12px 20px;
}
.alignleft,
.left {
  float: left;
  margin: 6px 20px 12px 0;
}
img,
img[class*="align"],
img[class*="wp-image-"] {
  max-width: 100%;
  height: auto;
  clear: both;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */

  padding-top: 30px;
  /* IE6 workaround*/

  height: 0;
  overflow: hidden;
  margin-bottom: 28px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
@media (max-width: 768px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}
@media (min-width: 1200px) {
  .global-nav,
  #page,
  #site-footer,
  #footer-logos {
    margin: 0 auto;
    padding: 0 3%;
  }
}
@media screen and (min-width: 1600px) {
  .global-nav,
  #page,
  #site-footer,
  #footer-logos {
    padding: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  .global-nav,
  #page,
  #site-footer,
  #footer-logos {
    padding: 0 18px;
  }
  #main {
    margin: 12px 0 0;
  }
  #site-header h1.branding,
  #site-header h2.branding {
    font-size: 44px;
  }
  #site-header h1.branding span,
  #site-header h2.branding span {
    font-size: 19.552px;
  }
  #footer-logos {
    clear: both;
  }
  #footer-logos .logo4 {
    clear: both;
  }
  #footer-logos a {
    width: 33.3333333333%;
  }
}
@media (max-width: 768px) {
  #sidebar,
  #site-footer .widget-area {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #site-footer .widget-area {
    margin-bottom: 6px;
  }
  #page {
    padding-bottom: 12px;
  }
  #main {
    margin: 8px 0 0;
  }
  #content {
    width: 100%;
  }
  #content .half,
  #content .full {
    clear: both;
    float: none;
    width: 100%;
    margin: 0 0 24px;
  }
  #related-post-nav,
  #related-posts .related-items {
    float: none;
    width: 100%;
    margin: 0;
  }
  #related-post-nav a {
    padding: 8px 5px;
  }
  .global-nav ul {
    display: none;
  }
  .global-nav .nav-right {
    width: 100%;
  }
  .global-nav .nav-right .donate-btn {
    float: left;
    margin-left: 0;
  }
  .global-nav .nav-right .org-logo {
    float: right;
  }
  #site-header h1.branding,
  #site-header h2.branding {
    font-size: 54px;
  }
  #site-header h1.branding span,
  #site-header h2.branding span {
    display: block;
    clear: both;
    margin: 6px 0 4px;
    padding: 0;
    font-size: 19.552px;
  }
  h1.entry-title,
  h1.page-title {
    font-size: 32px;
    line-height: 1.2;
  }
  .category-background .related-topics ul {
    line-height: 1.5;
  }
  .stories h2.entry-title,
  .sticky-main-feature h2,
  .carousel-caption h2 {
    font-size: 24px;
  }
  .sticky-main-feature,
  .sticky-features-list {
    clear: both;
    width: 100% !important;
    margin: 0 !important;
  }
  #menu-footer-navigation li {
    font-size: 18px;
    padding: 8px 0;
  }
  #footer-logos .logo4 {
    clear: both;
  }
  #footer-logos a {
    width: 33.3333333333%;
  }
  #footer-logos h6 a {
    display: inline;
    clear: both;
    float: none;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .global-nav-bg {
    height: 38px;
  }
  .global-nav {
    height: 38px;
    padding-top: 2px;
  }
  .global-nav .org-logo {
    display: none;
  }
  .donate-btn {
    font-size: 16px;
    line-height: 28px;
  }
  .donate-btn a {
    padding: 5px 8px 5px 5px;
  }
  .donate-btn i {
    margin-top: 2px;
  }
  #header-search {
    float: right;
    margin: 3px 0 0;
  }
  #header-search input {
    height: 23px;
    padding: 2px 4px;
    overflow: visible;
    font-size: 16px;
    line-height: 1;
  }
  #header-search button {
    height: 29px;
    position: relative;
    top: 1px;
  }
  #header-search .input-medium {
    width: 110px;
  }
  #site-header img {
    margin-top: 5px;
  }
  #site-header h1.branding,
  #site-header h2.branding {
    margin-top: 10px;
    font-size: 48px;
    text-align: center;
  }
  #site-header h1.branding span,
  #site-header h2.branding span {
    font-size: 16px;
  }
  .post-social .print {
    display: none;
  }
  #footer-logos h6 a {
    display: inline;
    clear: both;
    float: none;
    text-align: left;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm 0.5cm 1cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  nav,
  iframe,
  object,
  audio,
  video,
  .global-nav,
  #site-header,
  .post-social,
  .bottom-meta,
  .author-box,
  #related-posts,
  #comments,
  #sidebar,
  #site-footer {
    display: none;
  }
  .print-header {
    display: block;
  }
  p,
  ul,
  ol,
  .byline {
    font-size: 12px !important;
    margin-bottom: 10px;
  }
  h1,
  h2,
  h2,
  h4,
  h5,
  h6,
  .entry-content h3 {
    font-size: 16px !important;
  }
  h1.entry-title {
    font-size: 28px !important;
  }
  .entry-content a:link:after,
  .entry-content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
}
